@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    margin-bottom: 100px;
    margin-top: 45px;
}
.title_one h5{
    text-align: center;
    font-size: 25px;
    margin-top: 45px;
}
.title_two p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.title_three h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.form_control input{
    width: 400px;
    height: 50px;
    border-radius: 3px;
    border: 1px #37A9CD solid;
}
.form_control label{
    line-height: 40px;
    font-weight: bold;
}
::placeholder{
    padding: 0 12px;
    color:#C4C4C4;
}
.button button{
    width: 400px;
    margin-top: 32px;
    height: 50px;
    border: 1px #37A9CD solid;
    background-color: #37A9CD;
    border-radius: 5px;
    color:white;

}

@keyframes font1{
    0%{
        opacity: 0;
     
    }

    100%{
        opacity: 1;
     
    }
}
